mixin editForm(curata, entry={})
	.entryContainer__space.editForm(data-entryformid=entry.id)
		.entryDetails
			.entryComponentTitle Entry title
			.entryDetailsGroup
				input.entryTitle__space.entryInput__space(placeholder= "Entry title" value= entry.entryTitle)
			.entryComponentTitle Summary
			.entryDetailsGroup
				.mainEditor
					textarea.postDescription.entryInput__space(maxlength="100" placeholder="Write a short summary of less than 100 characters.") #{entry.entryText}
			.entryComponentTitle Link
			.entryDetailsGroup
				.linkContainer
					input.entryLink.entryInput__space(placeholder="http://example.com" value=entry.entryLink)
					a.entryLinkPreview.hidden(href="#" target="_blank")
						+externalLink
			.entryComponentTitle Image
			.entryDetailsGroup
				.mainImage(id= "imageArea_")
					.file-upload.imageBlock(data-type="mainImage" data-image-key= entry.entryImageKey)
						form.image-upload-wrap.imageForm(action= "/' + coreURL + '/sign-s3" method="POST" enctype= "multipart/form-data")
							input#edit-file-input.file-upload-input(type='file', name='image', accept='image/jpg')
							.drag-text
								button.file-upload-btn(type='button') Add Image
								h3 Or just drag and drop a file
						.file-upload-content
							img.file-upload-image(src=entry.entryImageURL, alt='your image')
							.image-title-wrap
								button.remove-image(type='button')
									span.image-pre-title Remove 
									if (entry.entryImageName && entry.entryImageName.length) 
										span.image-title #{entry.entryImageName}
									else
										span.image-title Untitled Image
									span.image-uploading-title Uploading image...
			.entryComponentTitle List
			.entryCurrentListContainer__space
				.entryCurrentList__space.entryCurrentListSelector__space.inline(data-listId=curata.curataList[0].id) #{curata.curataList[0].listName}
			.entryComponentTitle Category
			.entryDetailsGroup.entryDetailsGroupSpecial.flex
				select.selector__space
					option.noneSelection__space(value="" data-display-text="Select category: ") None
					each category in curata.categories
						if (category.entryCategoryName && category.entryCategoryName.length)
							option(value=category.id) #{category.entryCategoryName}
						else
							option(value=category.id) Untitled category
				if (entry.entryCategory)
					if (entry.entryCategory.length)
						.dropdown.selector__space
							span.currentCategorySelection(data-categoryid=entry.entryCategoryId) #{entry.entryCategory}
							.list
								ul.optionList
									li.option(value="" data-display-text="Select category: ") None
									each category in curata.categories
										if (category.entryCategoryName && category.entryCategoryName.length)
											li.option(data-value=category.id data-display-text=category.entryCategoryName) #{category.entryCategoryName}
										else
											li.option(data-value=category.id data-display-text) Untitled category
				.entryNewCategory__space +
				.entryCreateCategoryBlock__space
					input.entryNewCategoryText__space(placeholder="Write your category")
					.entryNewCategoryCreate__space Create
					.entryNewCategoryCancel__space X