mixin trashedForm(curata, entry={})
	.entryContainer__space.trashForm(data-entryformid=entry.id)
		.entryDetails
			.entryComponentTitle Category
			.entryDetailsGroup.entryDetailsGroupSpecial.flex
				if (entry)
					if (entry.entryCategory)
						if (entry.entryCategory.length)
							.trashDropdown
								span.currentCategorySelection(data-categoryid=entry.entryCategoryId) #{entry.entryCategory}
					else
						.trashDropdown
							span.currentCategorySelection(data-categoryid=entry.entryCategoryId) Miscellaneous category
			.entryComponentTitle Entry title
			.entryDetailsGroup
				if (entry)
					if (entry.entryTitle && entry.entryTitle.length)
						.trashTitle__space #{entry.entryTitle}
					else
						.trashTitle__space Untitled entry.
			.entryComponentTitle Summary
			.entryDetailsGroup
				.mainEditor
					if (entry)
						if (entry.entryText && entry.entryText.length)
							.trashDescription #{entry.entryText}
						else
							.trashDescription No summary.
			.entryComponentTitle Link
			.entryDetailsGroup
				.linkContainer
					if (entry)
						if (entry.entryLink && entry.entryLink.length)
							.trashLink(placeholder="http://example.com") #{entry.entryLink}
							a.trashLinkPreview(href=entry.entryLink target="_blank")
								+externalLink
						else
							.trashLink No link
			.entryComponentTitle Image
			.entryDetailsGroup
				.trashImage(id= "imageArea_")
					.file-upload
						if (entry)
							if (entry.entryImageKey && entry.entryImageURL)
								.trash-upload-content
									img.trash-upload-image(src=entry.entryImageURL, alt='your image')
									.trash-image-title-wrap
										.trashImageNameBlock
											if (entry.entryImageName && entry.entryImageName.length) 
												span.trash-image-title #{entry.entryImageName}
											else
												span.trash-image-title Untitled Image
							else
								.trashImageForm
									.trash-upload-content
									.trash-drag-text
										.trash-upload-btn.trashedNoImageText No image.
							.trashImageForm.trashImageForm2.hidden
								.trash-upload-content
								.trash-drag-text
									.trash-upload-btn.trashedNoImageText No image.