mixin trashedForm(curata, entry={})
	.entryContainer__space(id=entry.id)
		.entryDetails
			.entryComponentTitle Category
			.entryDetailsGroup.entryDetailsGroupSpecial.flex
				if (entry)
					if (entry.entryCategory)
						if (entry.entryCategory.length)
							.trashDropdown.selector__space
								span.currentCategorySelection(data-categoryid=entry.entryCategoryId) #{entry.entryCategory}
					else
						.trashDropdown.selector__space
							span.currentCategorySelection(data-categoryid=entry.entryCategoryId) Miscellaneous category
			.entryComponentTitle Entry title
			.entryDetailsGroup
				if (entry)
					if (entry.entryTitle && entry.entryTitle.length)
						.entryTitle__space.entryInput__space #{entry.entryTitle}
					else
						.entryTitle__space.entryInput__space Untitled entry.
			.entryComponentTitle Summary
			.entryDetailsGroup
				.mainEditor
					if (entry)
						if (entry.entryText && entry.entryText.length)
							.postDescription.entryInput__space #{entry.entryText}
						else
							.postDescription.entryInput__space No summary.
			.entryComponentTitle Link
			.entryDetailsGroup
				.linkContainer
					if (entry)
						if (entry.entryLink && entry.entryLink.length)
							.entryLink.entryInput__space(placeholder="http://example.com") #{entry.entryLink}
							a.entryLinkPreview.hidden(href=entry.entryLink target="_blank")
								+externalLink
						else
							.entryLink.entryInput__space No link
			.entryComponentTitle Image
			.entryDetailsGroup
				.mainImage(id= "imageArea_")
					.file-upload.imageBlock(data-type="mainImage" data-image-key= entry.entryImageKey)
						if (entry)
							if (entry.entryImageKey && entry.entryImageURL)
								.file-upload-content
									img.file-upload-image(src=entry.entryImageURL, alt='your image')
									.image-title-wrap
										.imageNameBlock
											if (entry.entryImageName && entry.entryImageName.length) 
												span.image-title #{entry.entryImageName}
											else
												span.image-title Untitled Image
							else
								.imageForm
									#file-input.file-upload-input
									.drag-text
										.file-upload-btn.trashedNoImageText No image.